@import "variables";

body {
   background-color: $body-background-color;
   user-select: none;
}

.card-icon {
   font-size: 7rem;
   color: $card-icon-color;
}

.card-login,
.card-report {
   width: 380px;
}
